@model CodeAlong9._2.Models.WebUser

@{





}

<h2>User Details:</h2>

Welcome, @Model.Username!
<br /><br />

Your email is: @Model.Email
<br /><br />

The password is: @Model.Hidden
<br /><br />

You reside in the State of: @Model.State
<br /><br />

Your Roast Preference is: @Model.Roast
<br /><br />

Your preferred Music to sip coffee to is: @Model.Music
<br /><br />